*{
  margin: 0;
  padding: 0;
  font-family: "Pixelify Sans", sans-serif;
  box-sizing: border-box;
}

body{
  border: 4px solid #769887;
  overflow: hidden;
}

.container{
  width: 100%;
  min-height: 100vh;
  background: #B9D8C3;
  padding: 10px;
}

.todo-app{
  width: 100%;
  height: 500px;
  max-width: 540px;
  background: #F1E8DC;
  margin:0px auto 20px;
  padding: 40px 30px 70px;
  border: 4px solid #B49077;
  overflow-y: scroll;
}

.todo-app::-webkit-scrollbar{
  display: none;
}

.title-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #B9D8C3;
  padding: 6px 10px;
  -webkit-app-region: drag; /* permite arrastar a janela */
}

.title-left{
  display:flex;
  align-items: center;
  margin-left: 1px;
  margin-bottom: 0;
  margin-top: 20px;
} 

.title-bar h2{
  margin: 0;
  font-size: 25px;
  pointer-events: none; 
  color:#769887;
  line-height: 1;    
}

.window-buttons{
  display: flex;
  align-items: center;
  gap:4px;
  margin-right:12px;
  -webkit-app-region: no-drag; /* os botões precisam ser clicáveis */
}

.window-buttons button{
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.window-buttons button im{
  width: 40px;
  height: 40px;
}

.window-buttons button:hover img{
  filter: brightness(0.8);
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  margin-bottom: 25px;
  width: 100%;
  padding-right: 20px;
  gap:15px;
}

input{
  flex: 1;
  padding: 16px 30px;
  outline: none;
  background: #F1FDEE;
  border: 4px solid #769887;
  font-size: 16px;
  box-sizing: border-box;
}

input::placeholder{
  font-size: 16px;
}

.row button{
  flex-shrink: 0;
  border: 4px solid #769887;
  outline: none;
  padding: 16px 30px;
  background: #B9D8C3;
  color: #769887;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  line-height: 16px;
}

.row button:hover{
  background: #769887;
  color: #F1FDEE;
}


ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  color: #555;
  overflow: hidden;
  z-index: 0;
}

ul li *{
  position: relative;
  z-index: 1;
}
  
  
ul li::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50px; /* espaço onde fica o X */
  left: 0;
  background-color: transparent;
  transition: background-color 0.2s ease;
  z-index: -1;
}
  
ul li:hover:not(:has(span:hover))::after{
  background-color: #B9D8C3;
}

ul li::before{
  content: '';
  position: absolute;
  height: 22px;
  width: 22px;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked{
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before{
  background-image: url(images/checked.png);
}

ul li span{
  position: absolute;
  right: inherit;
  right: 10px;
  top: 5px;
  width: 40px;
  height: 40x;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
}

ul li span:hover{
  background: #ff6961;
}

@media (max-width: 480px){
  .todo-app{
    padding: 20px 15px 30px;
  }

  .row{
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }

  input{
    width: 100%;
    padding: 12px;
  }

  button{
    width: 100%;
    padding: 12px;
    font-size: 1rem;
  }

  .todo-app h2{
    font-size: 1.2rem;
    padding: 10px;
  }

  ul li{
    font-size: 0.95rem;
    padding-left: 40px;
  }

  ul li span{
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
  }
}